html {}

body {
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    color: #545454;
    background-color: #fff;
}

h1 {
    font-size: 44px;
    line-height: 60px;
}

h2 {
    font-size: 34px;
    line-height: 40px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
}

.container {
    width: 1020px;
    margin: 0 auto;
    height: 100vh;
}

.fixed-nav {
    text-align: center;
    line-height: 70px;
    padding: 0 20px;
    box-sizing: border-box;
    top: 0;
    position: fixed;
    left: 0;
    width: 100%;
}

.logo {
    float: left;
    padding: 20px 0;
}

nav {
    box-sizing: border-box;
    line-height: 70px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

nav li {
    float: left;
    list-style: none;
}

nav li.active {
	color: #E0E0E0;
}

.float-left li {
    padding: 0 20px;
}

.float-right li {
    margin: 0 0 0 20px;
}

nav li a {
    color: #cccccc;
    font-size: 16px;
}

input {
    width: 1020px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-left: none;
    border-right: none;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
    line-height: 48px;
    text-align: center;
    font-size: 20px;
    padding: 0;
}

.content {
    margin: 70px 0 0 0;
}

.page-title {
    text-align: center;
    margin: 0 0 20px 0;
}

.page-title h1 {
    font-size: 40px;
    line-height: 80px;
}

.page-title span {
    font-size: 20px;
    line-height: 30px;
}

.campaign-info {
    text-align: center;
    margin: 0 0 20px 0;
}

.addcampaign-btn {
    width: 100%;
    display: block;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #50C750;
    color: #fff;
    font-size: 20px;
    margin: 0 0 20px 0;
}

.savesubmit-btn {
    width: 100%;
    display: block;
    text-align: center;
    border: none;
    height: 50px;
    line-height: 50px;
    background-color: #009DFF;
    color: #fff;
    font-size: 20px;
    margin: 0 0 20px 0;
}

.sort {
    text-align: center;
    margin: 0 0 20px 0;
}

.item-edit {
    position: absolute;
    left: 10px;
    bottom: 10px;
    line-height: 16px;
    font-size: 16px;
}

.item-trash {
    position: absolute;
    right: 10px;
    bottom: 10px;
    line-height: 16px;
    font-size: 16px;
}

.item h2 {
    line-height: 50px;
}

.item span {
    font-size: 16px;
    line-height: 20px;
    opacity: 0.75;
}

.content-grid .item {
    width: 300px;
    height: 170px;
    position: relative;
    text-align: center;
    background-image: url(http://lorempixel.com/g/400/200);
    background-size: cover;
    background-color: #C7C7C7;
    float: left;
    margin: 10px;
    padding: 20px 10px 10px;
}

.submission {
    width: 100%;
    background-color: #ECECEC;
    text-align: center;
    padding: 20px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
}

.submission:hover .show-on-hover {
    display: block;
    overflow: auto;
    margin: 20px 0 0 0;
}

.show-on-hover {
    display: none;
    margin: 20px 0 0px 0;
}

.submission-options {
    clear: both;
    display: block;
}

.submission-left, .submission-right {
    width: 50%;
}

.submission-right textarea {
    width: 90%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

#id a {
    position: relative;
}

#id a span {
    z-index: 10;
    font-size: 14px;
    display: none;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    line-height: 20px;
    text-align: center;
    opacity: 1;
}

#id a:hover span {
    display: block;
    position: absolute;
    color: #00a2d3;
    background: #FFF;
}