
.metadata/.lock

.metadata/.log

*.zip

*.version

*.tree

*.index

*.prefs

*.resources

*.xml

*.xmi

*.fdt

*.ini

*.ser

*.setup

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_2

*.tis

*.tii

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1

*.gen

*.nrm

*.frq

*.prx

*.fdx

*.fnm

*.dat

*.json

*.db
