<!DOCTYPE html>
<html ng-app=SubmissionsApp>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>%title% - Linkbuildingtool</title>

    <link rel="stylesheet" href="../css/reset.css" type="text/css" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:400,300,700' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script data-require="angular.js@1.2.0-rc3" data-semver="1.2.0-rc3" src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>
    <script src="../js/copy.js"></script>
</head>

<body ng-controller="submissionsController">
    <div class="fixed-nav">
	<div class="float-left">
        <a href="index.php"><img src="../images/linkbuilding-logo.png" class="logo"></a>
    </div>
    <nav class="float-right">
        <li><a href="../tool/profile.php">Welcome %userFirstName%</a></li>
        <li><a href="../linksites.php"><i class="fa fa-link"></i></a></li>
        <li><a href="../profile.php"><i class="fa fa-user"></i></a></li>
        <li><a href="../logout.php?logout=true"><i class="fa fa-sign-out"></i></a></li>
    </nav>
    <div class="container">
    	<input ng-model="query[queryBy]" type="text" class="form-control" placeholder="Search...">
    </div>
</div>

    <div class="content">
        <div class="container">

            <div class="campaign-info">

                <a><i class="fa fa-clipboard"></i></a> = Copy(Clickable)
                <br />

                <b>Name: </b>
                <br />
                <span id="1"> %campaignName% </span>
                <a><i class="fa fa-clipboard" onclick="copyToClipboard('#1')"></i></a>
                <br />
                <b>URL: </b>
                <br />
                <span id="2"> %campaignURL% </span>
                <a><i class="fa fa-clipboard" onclick="copyToClipboard('#2')"></i></a>
                <br />
                <b>Category: </b>
                <br />
                <span id="3"> %campaignCategory%</span>
                <br />
                <b>Email: </b>
                <br />
                <span> %campaignEmail% </span>
                <a><i class="fa fa-clipboard" onclick="copyToClipboard('#3')"></i></a>
                <br />
                <b>Owner: </b>
                <br />
                <span> %campaignOwner% </span>
                <br />

                <b>Title: </b>
                <br />
                <span id="4"> %campaignTitle% </span>
                <a><i class="fa fa-clipboard" onclick="copyToClipboard('#4')"></i></a>
                <br />
                <b>Description: </b>
                <br />
                <span id="5"> %campaignDescription% </span>
                <a><i class="fa fa-clipboard" onclick="copyToClipboard('#5')"></i></a>
                <br />
                <b>E-mail Template: </b>
                <br />
                <span id="6"> %campaignEmailTemplate% </span>
                <a><i class="fa fa-clipboard" onclick="copyToClipboard('#6')"></i></a>
                <br />

            </div>

            <button class="savesubmit-btn" type="submit" name="saveSubmit"><i class="fa fa-sign-in"></i> &nbsp; Save Submissions</button>

            <form method="POST" action="%saveSubmissions%">

                <div class="content-grid">

                    <div class="sort">
                        <th></th>
                        <th><a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">Name <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span><span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span></a></th>
                        <th>History</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                        <th>Comment</th>
                        <th>Options</th>
                    </div>
                    <div class="submission" ng-repeat="submit in submissions | filter:query | orderBy:sortType:sortReverse">

                        <div style="border-bottom: #{{submit.bot_color}};" width="7px" title="{{submit.tooltip}}"></div>

                        <h2><a ng-href="{{submit.linkurl}}" target="_blank">{{submit.name}}</a></h2>
                        <a href="linksite.php?linksite={{submit.linksites_id}}">View Info</a> {{submit.rating}}

                        <select name="status" class="form-control">
                            <option ng-selected="{{submit.status == 'Not Submitted'}}" value="Not Submitted">Not Submitted</option>
                            <option ng-selected="{{submit.status == 'Rejected'}}" value="Rejected">Rejected</option>
                            <option ng-selected="{{submit.status == 'Accepted'}}" value="Accepted">Accepted</option>
                            <option ng-selected="{{submit.status == 'Submitted'}}" value="Submitted">Submitted</option>
                            <option ng-selected="{{submit.status == 'Failed'}}" value="Failed">Failed</option>
                        </select>
                        
                        <div class="show-on-hover">
                            
                            <div class="submission-left float-left">
                                <p>History</p>
                                <div id="id" ng-bind-html="submit.history | unsafe"></div>
                            </div>
                            
                            <div class="submission-right float-right">
                                <p>Comments</p>
                                <textarea name="comment" cols="30" rows="4">{{submit.comment}}</textarea>
                            </div>

                            <a class="submission-options" ng-href="deletesubmission.php?submission={{submit.linksites_id}}"><i class="fa fa-minus-circle"></i></a>

                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>
</body>
<script type="text/javascript">
	var submissionsApp = angular.module("SubmissionsApp",[]);
	  submissionsApp.controller("submissionsController",function($scope){
	    $scope.query = {};
	    $scope.queryBy = '$';
	    $scope.submissions = [ %angularData% ];

		$scope.orderProp="name";
      });
    submissionsApp.filter('unsafe', function($sce) {
        return function(val) {
            return $sce.trustAsHtml(val);
        };
    });

</script>

</html>