<!DOCTYPE html>
<html ng-app=LinksiteApp>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<title>%title% - Linkbuildingtool</title>

	<link rel="stylesheet" href="../css/reset.css" type="text/css" />
    <link rel="stylesheet" href="../css/style.css" type="text/css"  />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script data-require="angular.js@1.2.0-rc3" data-semver="1.2.0-rc3" src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>
	<script src="../js/rating.js"></script>
</head>
<body ng-controller="linkCTRL">
	<div class="fixed-nav">
	<div class="float-left">
        <a href="index.php"><img src="../images/linkbuilding-logo.png" class="logo"></a>
    </div>
    <nav class="float-right">
        <li><a href="../tool/profile.php">Welcome %userFirstName%</a></li>
        <li><a href="../linksites.php"><i class="fa fa-link"></i></a></li>
        <li><a href="../profile.php"><i class="fa fa-user"></i></a></li>
        <li><a href="../logout.php?logout=true"><i class="fa fa-sign-out"></i></a></li>
    </nav>
    <div class="container">
    	<input ng-model="query[queryBy]" type="text" class="form-control" placeholder="Search...">
    </div>
</div>

	<div class="content">
        <div class="container">
			<form method="POST" action="%linksite%.php">
				<h2>%headText%.</h2><hr />
				
				%error%
				
				<div class="form-group">
					Name *
					<input type="text" class="form-control" name="name" value="%linksiteName%" required />
				</div>
				
				<div class="form-group">
					Type * <br />
					<select name="type" class="form-control" >
						<option value="Startpage" %selectedStartpage%>Startpage</option>
						<option value="Blog" %selectedBlog%>Blog</option>
						<option value="Search Engine" %selectedSearchEngine%>Search Engine</option>
						<option value="App" %selectedApp%>App</option>
						<option value="Social Media" %selectedSocialMedia%>Social Media</option>
						<option value="Other" %selectedOtherType%>Other</option>
					</select>
				</div>

				<div class="form-group">
					Category * <br />
					<select name="category" class="form-control" >
						<option value="Art and Amusement" %selectedArtAndAmusement%>Art and Amusement</option>
						<option value="Automobileindustry" %selectedAutomobileIndustry%>Automobileindustry</option>
						<option value="Beauty and Fitness" %selectedBeautyAndFitness%>Beauty and Fitness</option>
						<option value="Books and Literature" %selectedBooksAndLiterature%>Books and Literature</option>
						<option value="Companies and industry" %selectedCompaniesAndIndustry%>Companies and industry</option>
						<option value="Computers and Electronics" %selectedComputersAndElectronics%>Computers and Electronics</option>
						<option value="Financial Services" %selectedFinancialServices%>Financial Services</option>
						<option value="Food and Drinks" %selectedFoodAndDrinks%>Food and Drinks</option>
						<option value="Games" %selectedGames%>Games</option>
						<option value="Healthcare" %selectedHealthcare%>Healthcare</option>
						<option value="Hobbies" %selectedHobbies%>Hobbies</option>
						<option value="House and Garden" %selectedHouseAndGarden%>House and Garden</option>
						<option value="Internet and Telecom" %selectedInternetAndTelecom%>Internet and Telecom</option>
						<option value="Vacant and Education" %selectedVacantAndEducation%>Vacant and Education</option>
						<option value="Law and Government" %selectedLawAndGovernment%>Law and Government</option>
						<option value="News" %selectedNews%>News</option>
						<option value="Online Community" %selectedOnlineCommunity%>Online Community</option>
						<option value="People and Society" %selectedPeopleAndSociety%>People and Society</option>
						<option value="Pets and Animal" %selectedPetsAndAnimal%>Pets and Animal</option>
						<option value="Property" %selectedProperty%>Property</option>
						<option value="Reference" %selectedReference%>Reference</option>
						<option value="Science" %selectedScience%>Science</option>
						<option value="Shopping" %selectedShopping%>Shopping</option>
						<option value="Sport" %selectedSport%>Sport</option>
						<option value="Traveling" %selectedTraveling%>Traveling</option>
						<option value="Other" %selectedOtherCategory%>Other</option>
					</select>
				</div>

				<div class="form-group">
					Rating <br />
					{{camp.rating}}
					<i id="star1" onclick="setRating(1)" onmouseover="ratingHover(1)" onmouseout="ratingHover(0)" class="fa fa-star-o"></i>
					<i id="star2" onclick="setRating(2)" onmouseover="ratingHover(2)" onmouseout="ratingHover(0)" class="fa fa-star-o"></i>
					<i id="star3" onclick="setRating(3)" onmouseover="ratingHover(3)" onmouseout="ratingHover(0)" class="fa fa-star-o"></i>
					<i id="star4" onclick="setRating(4)" onmouseover="ratingHover(4)" onmouseout="ratingHover(0)" class="fa fa-star-o"></i>
					<i id="star5" onclick="setRating(5)" onmouseover="ratingHover(5)" onmouseout="ratingHover(0)" class="fa fa-star-o"></i>
				</div>

				<div class="form-group">
					Comment
					<textarea name="comment" cols="60" class="form-control" rows="6">%LinksiteComment%</textarea>
				</div>

				<div class="form-group">
					URL *
					<input type="url" name="url" class="form-control" value="%LinksiteUrl%"/>
				</div>

				<div class="form-group">
					Submit page
					<input type="url" name="submit_page" class="form-control" value="%LinksiteSubmitPage%"/>
				</div>

				<div class="form-group">
					Costs? &nbsp;
					<input id="costsBox" onChange="ShowCosts()" type="checkbox" name="hasCosts" %selectedCosts%/> <br />
					<input id="costs" type="number" class="form-control" step="any" name="costs" value="%selectedCostsAmount%" min="0" max="999"/>
				</div>

				<div class="form-group">
					Backlink required? &nbsp;
					<input type="checkbox" name="backlink" %selectedBacklink%/>
				</div>

				<div class="form-group">
					Owner
					<input type="text" name="owner" class="form-control" value="%LinksiteOwner%">
				</div>

				<div class="form-group">
					Owner e-mail
					<input type="email" name="owneremail" class="form-control" value="%LinksiteOwnerEmail%"/>
				</div>

				<div class="form-group">
					Active
					<br />
					<select name="rip">
						<option value="1" %selectedAYes%>Yes</option>
						<option value="0" %selectedANo%>No</option>
					</select>
				</div>
				
				<input type="hidden" id="rating" name="rating" value="%ratingValue%">
				<input type="hidden" name="linkID" value="%linkID%">

				<div>
					<div>List of campaigns:</div>
					
						<table>
							<tr>
								<th>Active</th>
								<th>Name</th>
							</tr>
							<tr  ng-repeat="camp in campaigns | filter:query">
								<td><input type="checkbox" ng-checked="{{camp.state}}" name="linked[]" value="{{camp.id}}"/></td>
								<td>{{camp.name}}</td>
							</tr>
						</table>
					</div>
				</div>
			
				<div class="clearfix"></div><hr />
				
				<div class="form-group">
					<button type="ng-submit" name="%submitname%" ng-click="camp.submit()">
						<i class="fa fa-sign-in"></i> &nbsp; %buttonText%
					</button>
					<br />
					<p style="color: red;">Items with * are required.</p>
				</div>
			</form>
		</div>
		<script>ratingHover(%ratingValue%)</script>
		<script>function ShowCosts()
			{
				if($('#costsBox').prop('checked')){
					$('#costs').css('display', 'block');
				}else{
					$('#costs').css('display', 'none');
				}
			}
		</script>
		<script>ShowCosts()</script>
		<script type="text/javascript">
		var linksiteApp = angular.module("LinksiteApp",[]);
		  linksiteApp.controller("linkCTRL",function($scope){
		    $scope.query = {};
		    $scope.queryBy = '$';
		    $scope.campaigns = [ %angularData% ]
			  $scope.orderProp="name";
		});
	</script>
	</body>
</html>
