<!DOCTYPE html>
<html ng-app=LinkbuildingtoolApp>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>%title% - Linkbuildingtool</title>
<link rel="stylesheet" href="../css/reset.css" type="text/css" />
<link rel="stylesheet" href="../css/style.css" type="text/css"  />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script data-require="angular.js@1.2.0-rc3" data-semver="1.2.0-rc3" src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>
<script src="../js/rating.js"></script>
</head>
<body ng-controller="lbtCTRL">

<div class="fixed-nav">
	<div class="fixed-nav">
	<div class="float-left">
        <a href="index.php"><img src="../images/linkbuilding-logo.png" class="logo"></a>
    </div>
    <nav class="float-right">
        <li><a href="../tool/profile.php">Welcome %userFirstName%</a></li>
        <li><a href="../linksites.php"><i class="fa fa-link"></i></a></li>
        <li><a href="../profile.php"><i class="fa fa-user"></i></a></li>
        <li><a href="../logout.php?logout=true"><i class="fa fa-sign-out"></i></a></li>
    </nav>
    <div class="container">
    	<input ng-model="query[queryBy]" type="text" class="form-control" placeholder="Search...">
    </div>
</div>
</div>
<div class="content">
  <div class="container">
    <div class="form-container">
    <form method="POST" action="%campaign%.php">
      <h2>%headText%.</h2>
      <hr />
      %error%
      <div class="form-group"> Name *
        <input type="text" class="form-control" name="name" value="%campaignName%" required />
      </div>
      <div class="form-group"> Email *
        <input type="email" class="form-control" name="email" value="%campaignEmail%" required />
      </div>
      <div class="form-group"> Email template
        <textarea name="emailtemplate" class="form-control" cols="60" rows="6">%campaignEmailTemplate%</textarea>
      </div>
      <div class="form-group"> URL *
        <input type="url" class="form-control" name="url" value="%campaignUrl%"/>
      </div>
      <div class="form-group"> Category * <br />
        <select name="category" class="form-control" >
          <option></option>
          <option value="Business Index" %selectedBusinessIndex%>Business Index</option>
          <option value="Art and Amusement" %selectedArtAndAmusement%>Art and Amusement</option>
          <option value="Automobileindustry" %selectedAutomobileindustry%>Automobileindustry</option>
          <option value="Beauty and Fitness" %selectedBeautyAndFitness%>Beauty and Fitness</option>
          <option value="Books and Literature" %selectedBooksAndLiterature%>Books and Literature</option>
          <option value="Companies and industry" %selectedCompaniesAndIndustry%>Companies and industry</option>
          <option value="Computers and Electronics" %selectedComputersAndElectronics%>Computers and Electronics</option>
          <option value="Financial Services" %selectedFinancialServices%>Financial Services</option>
          <option value="Food and Drinks" %selectedFoodAndDrinks%>Food and Drinks</option>
          <option value="Games" %selectedGames%>Games</option>
          <option value="Healthcare" %selectedHealthcare%>Healthcare</option>
          <option value="Hobbies" %selectedHobbies%>Hobbies</option>
          <option value="House and Garden" %selectedHouseAndGarden%>House and Garden</option>
          <option value="Internet and Telecom" %selectedInternetAndTelecom%>Internet and Telecom</option>
          <option value="Vacant and Education" %selectedVacantAndEducation%>Vacant and Education</option>
          <option value="Law and Government" %selectedLawAndGovernment%>Law and Government</option>
          <option value="News" %selectedNews%>News</option>
          <option value="Online Community" %selectedOnlineCommunity%>Online Community</option>
          <option value="People and Society" %selectedPeopleAndSociety%>People and Society</option>
          <option value="Pets and Animal" %selectedPetsAndAnimal%>Pets and Animal</option>
          <option value="Property" %selectedProperty%>Property</option>
          <option value="Reference" %selectedReference%>Reference</option>
          <option value="Science" %selectedScience%>Science</option>
          <option value="Shopping" %selectedShopping%>Shopping</option>
          <option value="Sport" %selectedSport%>Sport</option>
          <option value="Traveling" %selectedTraveling%>Traveling</option>
          <option value="Other" %selectedOtherCategory%>Other</option>
        </select>
      </div>
      <div class="form-group"> Title
        <input type="text" class="form-control" name="title" value="%campaignTitle%"/>
      </div>
      <div class="form-group"> Description
        <textarea name="description" cols="60" class="form-control" rows="6">%campaignDescription%</textarea>
      </div>
      <div class="form-group"> Owner
        <input type="text" class="form-control" name="owner" value="%campaignOwner%"/>
      </div>
      <div class="form-group"> Active <br />
        <select name="active">
          <option value="1" %selectedAYes%>Yes</option>
          <option value="0" %selectedANo%>No</option>
        </select>
      </div>
      <div class="form-group"> Bot Active <br />
        <select name="activebot">
          <option value="1" %selectedABYes%>Yes</option>
          <option value="0" %selectedABNo%>No</option>
        </select>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">List of linksites:</div>
        <table class="table table-hover">
          <tr>
            <th>Active</th>
            <th>Name</th>
          </tr>
          <tr  ng-repeat="link in linksites | filter:query">
            <td><input type="checkbox" ng-checked="{{link.state}}" name="enable{{link.id}}"/></td>
            <td>{{link.name}}</td>
          </tr>
        </table>
      </div>
      </div>
      <div class="clearfix"></div>
      <hr />
      <div class="form-group">
        <button type="ng-submit" name="%submitname%" class="btn btn-block btn-primary" ng-click="camp.submit()"> <i class="fa fa-sign-in"></i> &nbsp; %buttonText% </button>
        <br />
        <p style="color: red;">Items with * are required.</p>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript">
		var linkbuildingtoolApp = angular.module("LinkbuildingtoolApp",[]);
		  linkbuildingtoolApp.controller("lbtCTRL",function($scope){
		    $scope.query = {};
		    $scope.queryBy = '$';
		    $scope.linksites = [
				
			%angularData%
	
	
	]
			  $scope.orderProp="name";
		});
	</script>
</body>
</html>
